*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font: 1.25rem 'Open Sans', sans-serif;
    color: #fff;
}

#backGround{
    z-index: -1000;
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

#home{
    height: 100vh;
}

/*HEADER*/
header{
    display: flex;
    justify-content: space-between;
    padding: 2ch 1ch;
}

nav{
    height: auto; /*!important*/
}

ul{
    display: flex;
    margin-top: 3ch; 
}

li{
    list-style: none; 
}

a{
    text-decoration:  none;
    color: inherit;
    text-transform: capitalize;
    margin: 0 2ch;
    cursor: pointer;
}

.mainContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    letter-spacing:0.15ch;
    text-align: center;
    line-height: 2.35ch;
}

h1{
    margin: 1ch 0;
}

p{
    margin: 1ch 0;
}

button{
    margin: 2ch 0;
    cursor: pointer;
    width: 19ch;
    height: 5ch;
    background-color: inherit;
    color: inherit;
    font-size: large;
    border-right: 2px solid #222;
    border-bottom: 2px solid #222;
}

button:hover{
    background-color: #fff;
    color: #222;
    border:2px solid #222 ;
    
}
/*About us*/

#about{
    height: 100vh;
    background-color: hsl(210, 36%, 96%);
    color: #222;
    display: flex;
    justify-content: center;
}

.colorChange{
    color:#40CFD4 ;
}

/*services*/
#services{
    height: 100vh;
    background-color: #fff;
    color: #222;
    display: flex;
    justify-content: center;
}

/*featured tour*/

#tours{
    height: 100vh;
    background-color: hsl(210, 36%, 96%);
    color: #222;
    display: flex;
    justify-content: center;
}

/*footer*/
footer{
    color: #fff;
    background-color: hsl(209, 61%, 16%);
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Scroll event*/
.onScroll{
    background-color: #fff;
    color: #222;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    height: auto;
}

/*toggle btn*/
.toggleBtn{
    display: none;
    flex-direction: column;
    position: fixed;
    top: 5ch;
  right: 2ch;
    
}

.bars{
        width: 35px;
        height: 5px;
        background-color: #222;
        margin: 0.2ch 0;
}

/*get to the top*/


.material-symbols-outlined{
    overflow: hidden;
     position: fixed;
    bottom: 4ch;
    right: 2ch;
    background-color: #40CFD4;
    width: 2ch;
    height: 2ch;
    border-radius: 9px;
    z-index: 100;
}


@media screen and (max-width: 480px) {
    .toggleBtn{
        display: flex;
        cursor: pointer;
    }

    header{
        flex-direction: column;
        background-color: #fff;
        color: #222;
    }

    nav{
        height: 0;
        overflow: hidden;
    }

    ul {
    flex-direction: column;
    }

    li{
        margin: 1ch 0;
    }

    a:hover{
      
        color:#40CFD4;
    }
}